@page
@model Car_Wash.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="pt-4"> </h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table text-white ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Registration_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Make)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Registration_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
